.navbar {
  background-color: #28293d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #ffffff;
  margin-right: 1rem;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
}

.navbar .profile {
  display: flex;
  align-items: center;
}

.navbar .profile img {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ff9800;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e68900;
}
